body {
  font-family: "Roboto Condensed", serif;
}

.container {
  max-width: 1280px;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.navbar {
  background: #0D0D0D;
  color: #FFFFFF;
  padding: 10px;
}
.navbar ul {
  padding-left: 48px;
  gap: 48px;
}
.navbar li a {
  color: #FFFFFF;
}
.navbar button {
  background: #FFD2A4;
  color: #0D0D0D;
  font-size: 16px;
  line-height: 16px;
  border: 1px solid transparent;
  border-radius: 12px;
  padding: 15px 25px;
}

#banner {
  background: url("/Images/banner.jpg");
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#banner .tittle {
  padding-top: 128px;
  color: #FFFFFF;
}
#banner .tittle h4 {
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 25px;
}
#banner .tittle h1 {
  width: 592px;
  font-size: 64px;
  line-height: 82px;
  letter-spacing: -1%;
  font-weight: 700;
  padding-bottom: 23px;
  font-family: "Roboto Condensed", serif;
}
#banner .tittle button {
  background: #FFD2A4;
  color: #0D0D0D;
  font-size: 16px;
  line-height: 16px;
  border: 1px solid transparent;
  border-radius: 12px;
  padding: 15px 25px;
}
#banner .tittle p {
  width: 338px;
  padding-top: 64px;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 128px;
}

#about .sub-tittle {
  color: #0D0D0D;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  padding: 128px 0px 20px 0px;
}
#about .tittle {
  color: #0D0D0D;
  text-align: center;
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 64px;
}
#about .card {
  background: #FFF5EB;
  text-align: left;
}
#about .card .text {
  padding: 80px 0px 0px 80px;
}
#about .card .text .icon {
  padding-bottom: 24px;
}
#about .card .text .h3 {
  font-size: 32px;
  line-height: 44px;
  letter-spacing: -1px;
  font-weight: 700;
  color: #0D0D0D;
}
#about .card .text p {
  width: 252px;
  padding-top: 8px;
  padding-bottom: 64px;
  color: #0D0D0D;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  margin: 0 auto;
}
#about .card .bottom {
  width: 100%;
  height: 16px;
  background: #FFD2A4;
}

#love .head .sub-tittle {
  color: #0D0D0D;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  padding: 128px 0px 20px 0px;
  padding-bottom: 16px;
}
#love .head .tittle {
  color: #0D0D0D;
  text-align: center;
  font-size: 44px;
  font-weight: 700;
}
#love .head p {
  color: #0D0D0D;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  margin: 0 auto;
  width: 846px;
  opacity: 0.7;
}
#love .head button {
  margin-top: 56px;
  background: #FFD2A4;
  color: #0D0D0D;
  font-size: 16px;
  line-height: 16px;
  border: 1px solid transparent;
  border-radius: 12px;
  padding: 15px 25px;
}
#love .head .group .group_img1 {
  margin-bottom: 120px;
}
#love .head .group .group_img2 {
  padding: 100px 20px 20px 20px;
}
#love .head .group .group_img3 {
  margin-bottom: 120px;
}
#love .bottom {
  padding-bottom: 128px;
}
#love .bottom .sub-tittle {
  color: #0D0D0D;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  padding: 128px 0px 20px 0px;
}
#love .bottom .tittle {
  color: #0D0D0D;
  text-align: center;
  font-size: 44px;
  font-weight: 700;
  padding-bottom: 16px;
}
#love .bottom p {
  color: #0D0D0D;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  margin: 0 auto;
  width: 512px;
  padding-bottom: 16px;
}

#benefits {
  background: #FFD2A4;
}
#benefits .head h3 {
  color: #0D0D0D;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  padding: 128px 0px 20px 0px;
}
#benefits .head h2 {
  color: #0D0D0D;
  text-align: center;
  font-size: 44px;
  font-weight: 700;
  padding-bottom: 64px;
}
#benefits .head .group .group_img {
  position: relative;
}
#benefits .head .group h4 {
  position: absolute;
  top: 10px;
}/*# sourceMappingURL=style.css.map */