body {
  font-family: "Roboto Condensed", serif;
}

.container {
  max-width: 1280px;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.navbar {
  background: #0D0D0D;
  color: #FFFFFF;
  padding: 10px;
}
.navbar ul {
  padding-left: 48px;
  gap: 48px;
}
.navbar li a {
  color: #FFFFFF;
}
.navbar button {
  background: #FFD2A4;
  color: #0D0D0D;
  font-size: 16px;
  line-height: 16px;
  border: 1px solid transparent;
  border-radius: 12px;
  padding: 15px 25px;
}

#banner {
  background: url("/Images/banner.jpg");
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#banner .tittle {
  padding-top: 128px;
  color: #FFFFFF;
}
#banner .tittle h4 {
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 25px;
}
#banner .tittle h1 {
  width: 592px;
  font-size: 64px;
  line-height: 82px;
  letter-spacing: -1%;
  font-weight: 700;
  padding-bottom: 23px;
  font-family: "Roboto Condensed", serif;
}
#banner .tittle button {
  background: #FFD2A4;
  color: #0D0D0D;
  font-size: 16px;
  line-height: 16px;
  border: 1px solid transparent;
  border-radius: 12px;
  padding: 15px 25px;
}
#banner .tittle p {
  width: 338px;
  padding-top: 64px;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 128px;
}

#about .sub-tittle {
  color: #0D0D0D;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  padding: 128px 0px 20px 0px;
}
#about .tittle {
  color: #0D0D0D;
  text-align: center;
  font-size: 44px;
  font-weight: 700;
  margin: 0 auto;
  margin-bottom: 64px;
}
#about .card {
  background: #FFF5EB;
  text-align: left;
}
#about .card .text {
  padding: 80px 0px 0px 80px;
}
#about .card .text .icon {
  padding-bottom: 24px;
}
#about .card .text .h3 {
  font-size: 32px;
  line-height: 44px;
  letter-spacing: -1px;
  font-weight: 700;
  color: #0D0D0D;
}
#about .card .text p {
  width: 252px;
  padding-top: 8px;
  padding-bottom: 64px;
  color: #0D0D0D;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  margin: 0 auto;
}
#about .card .bottom {
  width: 100%;
  height: 16px;
  background: #FFD2A4;
}

#love .head .sub-tittle {
  color: #0D0D0D;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  padding: 128px 0px 20px 0px;
  padding-bottom: 16px;
}
#love .head .tittle {
  color: #0D0D0D;
  text-align: center;
  font-size: 44px;
  font-weight: 700;
  margin: 0 auto;
}
#love .head p {
  color: #0D0D0D;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  margin: 0 auto;
  width: 846px;
  opacity: 0.7;
}
#love .head button {
  margin-top: 56px;
  background: #FFD2A4;
  color: #0D0D0D;
  font-size: 16px;
  line-height: 16px;
  border: 1px solid transparent;
  border-radius: 12px;
  padding: 15px 25px;
}
#love .head .group .group_img1 {
  margin-bottom: 120px;
}
#love .head .group .group_img2 {
  padding: 100px 20px 20px 20px;
}
#love .head .group .group_img3 {
  margin-bottom: 120px;
}
#love .bottom {
  padding-bottom: 128px;
}
#love .bottom .sub-tittle {
  color: #0D0D0D;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  padding: 128px 0px 20px 0px;
}
#love .bottom .tittle {
  color: #0D0D0D;
  text-align: center;
  font-size: 44px;
  font-weight: 700;
  margin: 0 auto;
  padding-bottom: 16px;
}
#love .bottom p {
  color: #0D0D0D;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  margin: 0 auto;
  width: 512px;
  padding-bottom: 16px;
}

#benefits {
  background: #FFD2A4;
  padding-bottom: 128px;
}
#benefits .head h3 {
  color: #0D0D0D;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  padding: 128px 0px 20px 0px;
}
#benefits .head h2 {
  color: #0D0D0D;
  text-align: center;
  font-size: 44px;
  font-weight: 700;
  margin: 0 auto;
  width: 432px;
  padding-bottom: 64px;
}
#benefits .group .group_img {
  position: relative;
}
#benefits .group .group_img:hover .text1 {
  opacity: 0;
}
#benefits .group .group_img:hover .text2 {
  opacity: 1;
}
#benefits .group .text1 {
  position: absolute;
  bottom: 0px;
  color: #FFFFFF;
  padding: 10px;
}
#benefits .group .text2 {
  position: absolute;
  bottom: 0px;
  color: #FFFFFF;
  padding: 10px;
  opacity: 0;
}

#join {
  padding-bottom: 208px;
}
#join .head h3 {
  color: #0D0D0D;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  padding: 128px 0px 20px 0px;
}
#join .head h2 {
  color: #0D0D0D;
  text-align: center;
  font-size: 44px;
  font-weight: 700;
  margin: 0 auto;
  width: 545px;
}
#join .content {
  margin-top: 64px;
  background: #FFF5EB;
}
#join .content .text {
  padding-left: 89px;
  padding-top: 61px;
}
#join .content .text h4 {
  font-size: 14px;
  padding-bottom: 16px;
  color: red;
}
#join .content .text h5 {
  width: 210px;
}
#join .content .text p {
  padding-top: 16px;
  padding-bottom: 32px;
  width: 256px;
}
#join .content .text ul li {
  gap: 20px;
  padding-bottom: 20px;
}
#join .content .text ul li img {
  height: 30px;
}
#join .content .text ul li .venu {
  width: 137px;
}
#join .content .text button {
  background: #0D0D0D;
  color: #FFD2A4;
  padding: 15px 50px;
  border-radius: 12px;
}

#want .banner {
  background: url("/Images/Background.jpg");
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 128px 366px;
}
#want .content {
  background: #FFFFFF;
  width: 768px;
}
#want .content .text {
  padding: 72px 48px;
}
#want .content .text h2 {
  width: 300px;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: -1px;
  font-weight: 700;
  font-family: "Roboto Condensed", serif;
}
#want .content .text p {
  width: 302px;
  opacity: 0.7;
}
#want .content .text button {
  background: #FFD2A4;
  color: #0D0D0D;
  font-size: 16px;
  line-height: 16px;
  border: 1px solid transparent;
  border-radius: 12px;
  padding: 15px 25px;
  padding: 15px 30px;
}
#want .content .bottom {
  width: 100%;
  height: 16px;
  background: #FFD2A4;
}

#share {
  padding-bottom: 128px;
}
#share .head {
  padding: 128px 0px 64px 0px;
}
#share .head h3 {
  color: #0D0D0D;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  padding: 128px 0px 20px 0px;
}
#share .head h2 {
  color: #0D0D0D;
  text-align: center;
  font-size: 44px;
  font-weight: 700;
  margin: 0 auto;
}
#share .card {
  background: #FFF5EB;
}
#share .card .content {
  padding: 48px 32px 32px 32px;
  width: 302px;
}
#share .card .content h6 {
  color: #A54E2B;
}
#share .card .content h5 {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: -1px;
  padding-bottom: 16px;
  padding-top: 16px;
}
#share .card .content .by {
  padding-top: 48px;
}
#share .card .content .by h4 {
  font-size: 16px;
}
#share .card:hover .bottom {
  opacity: 1;
}
#share .card .bottom {
  width: 100%;
  height: 16px;
  background: #FFD2A4;
  opacity: 0;
}

#footer {
  background: #161722;
  padding-top: 64px;
  color: #FFFFFF;
}
#footer .logo {
  padding-bottom: 16px;
}
#footer p {
  padding-bottom: 32px;
}
#footer .links ul li {
  padding: 12px;
  opacity: 0.8;
}/*# sourceMappingURL=style.css.map */