#benefits {
    background: $primary;
    padding-bottom: 128px;

    .head {
        h3 {
            @include sub-tittle();

        }

        h2 {
            @include tittle();
            width: 432px;

            padding-bottom: 64px;

        }
    }

    .group {
        .group_img {
            position: relative;
            &:hover{
                .text1{
                    opacity: 0;
                }
                .text2{
                    opacity: 1;
                }
            }
            .benefits_img{
                width: 100%;
            }

        }

        .text1 {
            position: absolute;
            bottom: 0px;
            color: $white;
            padding: 10px;

        }

        .text2 {
            position: absolute;
            bottom: 0px;
            color: $white;
            padding: 10px;
            opacity: 0;
        }
        
    }
}