#footer {
    background: #161722;
    padding-top: 64px;
    color: $white;

    .logo {
        padding-bottom: 16px;

    }

    p {
        padding-bottom: 32px;
    }

    .links {
        text-align: center;

        ul {
            li {
                padding: 12px;
                opacity: .8;
            }
        }
    }

    .search {
        .email_box {
            width: 512px;
            padding: 10px;
            border-radius: 12px;

        }

        button {
            @include button();
        }
    }
}