.navbar{
    background: $black;
    color: $white;
    padding: 10px;
    ul{
        padding-left: 48px;
        gap: 48px;
    }
    li{
        a{
            color:$white;
        }
    }
    button{
        @include button();
    }
}