$black : #0D0D0D;
$light : #FFF5EB;
$primary : #FFD2A4;
$gray : #F5F2F0;
$white : #FFFFFF;

body{
    font-family: "Roboto Condensed", serif;
}
.container{
    max-width: 1280px;
}
a{
    text-decoration: none;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
@mixin button(){
    background: $primary;
    color: $black;
    font-size: 16px;
    line-height: 16px;
    border:1px solid transparent;
    border-radius: 12px;
    padding: 15px 25px;
}
@mixin tittle(){
    color:$black;
    text-align: center;
    font-size: 44px;
    font-weight: 700;
}
@mixin sub-tittle(){
    color:$black;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    padding: 128px 0px 20px 0px;
}
@mixin p(){
    color:$black;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin: 0 auto;
}